*{
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}
body {
    background: #fff;
    margin: 0;
}
.hero{
    background-color: #23475b;
    color: #fff;
    padding: 32px 15px;
    display: grid;
    grid-template-columns: minmax(auto,1024px);
    justify-content: center;
}

.hero-container{
    display: grid;
    grid-template-columns: 70px 1fr 320px;
    grid-template-areas: "badge title form"
    ". description form"
    ". countdown form";
    grid-gap: 10px;
}
.badge {
    grid-area: badge;
}
.title{
    grid-area: title;
    font-size: 36px;
    font-weight: bold;
    margin: 0;
    display: flex;
    align-items: center;
}
.form{
    grid-area: form;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.472);
    padding: 1.5em;
    border-radius: 10px;
    margin-bottom: 10px;
}
.form input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #2a6381;
    box-sizing: border-box;
    border-radius: 5px;
    margin-bottom: 10px;
}
.form p {
font-size: 20px;
margin-bottom: 1em;
color: #23475b;
}

.form button{
    background: #2a6381;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    border: none;
    border-bottom: 5px solid #23475b;
    display: inline-block;
    cursor: pointer;
    margin-top: 10px;
    font-size: 16px;
}

.badge img{
    width: 150px;
    max-width: 70px;
    height: 100px;
}
.countdown{
    grid-area: countdown;
}
.countdown p{
    font-size: 20px;
    text-align: center;
    font-weight: 300;
}
.countdown span {
    font-size: 33px;

}
.countdown span::after{
    content: ":";
    display: inline-block;
    margin: 0 5px;
}
.countdown span:last-child::after {
display: none;
}
p{
    margin: 0;
}
.description {
    grid-area: description;
}