body {
    margin: 0;
    padding: 0;
   /*  position: fixed; */
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

header {
    width: 100%;
    height: 140px;
    display: grid;
    grid-auto-flow: 1fr 1fr;
}

a {
    text-decoration: none;
    display: inline;
    color: black;
}

.home-body {
   /*  position: fixed; */
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

header .header-container {
   width: 100%;
   height: 50px;
   display: grid;
   background-color:#47cfac;
}

header .header-container .social {
    width: 300px;
    height: auto;
    display: flex;
    justify-content: space-between;
    justify-items: flex-end;
    justify-self: end;
    align-items: center;


}

.social img {
    width: 25px;
    height: 25px;

}

.social a {
    color: white;
}

.nav {
    display: grid;
    grid-auto-columns: 1fr 1fr 1fr;
    height: 90px;
}

.nav-logo {
    display: grid;
    grid-column: 1;


}

.nav-logo img {
    width: 220px;
    margin-top: 20px;
}

.nav-profile {
    font-size: 30px;
    font-weight: bold;
    display: grid;
    grid-column: 3;
    margin-right: 10px;
    margin-top: 30px;
    width: 220px;
    padding: 5px;
}

section .blog {
    margin-top: 10px;
    padding: 10px;
}

.blog-article {
    display: grid;
    grid-auto-columns: 1fr 1fr;
    background: rgba(104, 103, 103, 0.7);
}

.blog-article img {
    display: grid;
    grid-column: 1;
    width: 85%;
    height: auto;
    padding: 10px;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
}

.blog-article-text {
    display: grid;
    grid-column: 2;
    margin-top: 10px;
    padding: 10px;
    margin-left: 10px;
    align-items: center;
}

.blog-article-text .parrafo {
    grid-column: 2;
}

h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: top;
}

.blog-article-button {
    background-color:#47cfac;
    padding: 10px 15px;
    border: none;
    font-size: 12px;
    border-radius: 5px;
    margin-bottom: 5px;
   /*  display: grid;
    justify-content: center;
    align-items: center; */
}

.nota-section {
    display: grid;
    justify-content: center;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: bold;
}

.nota-section-title {
    display: grid;
    justify-content: center;
    text-align: center;
}

.blog-posts-container {
    display: grid;
} 

.blog-posts-container .post-container {
    display: inline-block;
    padding-left: 15px;
    max-width: 30%;
    margin-bottom: 50px;
    
}

.blog-posts-container .post-container p {
    margin-bottom: 35px;
}

.blog-posts-container .post-container img {
    width: 100%;
}

.blog-posts-container button {
    border: 1px solid #47cfac;
    padding: 10px 15px;
    font-size: 12px;
}

h4 {
    text-align: center;
    font-weight: bold;
}

footer {
    width: 100%;
    height: 80px;
    background-color: #47cfac;
    border-top: 35px solid black;
}

footer p {
    color: white;
    text-align: center;
}