body {
    margin: 0;
    padding: 0;
   /*  position: fixed; */
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

header {
    width: 100%;
    height: 140px;
    display: grid;
    grid-auto-flow: 1fr 1fr;
}

a {
    text-decoration: none;
    display: inline;
    color: black;
}

.home-body {
   /*  position: fixed; */
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

header .header-container {
   width: 100%;
   height: 50px;
   display: grid;
   background-color:#47cfac;
}

header .header-container .social {
    width: 300px;
    height: auto;
    display: flex;
    justify-content: space-between;
    justify-items: flex-end;
    justify-self: end;
    align-items: center;


}

.social img {
    width: 25px;
    height: 25px;

}

.social a {
    color: white;
}

.nav {
    display: grid;
    grid-auto-columns: 1fr 1fr 1fr;
    height: 90px;
}

.nav-logo {
    display: grid;
    grid-column: 1;


}

.nav-logo img {
    width: 220px;
    margin-top: 20px;
}

.nav-profile {
    font-size: 30px;
    font-weight: bold;
    display: grid;
    grid-column: 3;
    margin-right: 10px;
    margin-top: 30px;
    width: 220px;
    padding: 5px;
}



footer {
    width: 100%;
    height: 80px;
    background-color: #47cfac;
    border-top: 35px solid black;
}

footer p {
    color: white;
    text-align: center;
}

.grid-container {
    max-width: 980px;
    margin: auto;
}

.blog-img-container {
    padding: 0 50px 40px;
}

.blog-img-container img {
     width: 100%;
}

.blog-main-container {

    padding: 0 50px 40px;

}

.blog-main-container h3 {
    border-bottom: 1px solid #07221b;
    padding: 0 0 10px;
    padding-bottom: 20px;
}

h1 {
    font-size: 35px;
}

.contact-main-container {
    /* display: grid;
    grid-auto-columns: 1fr 1fr; */
    padding-bottom: 50px;
    background-color: #ced1d0;
    width: 100%;
    min-height: 250px;
    text-align: center;
}

.contact-main-container div {
    display: inline-block;
    width: 49.5%;
    height: 100%;
}

.contact-main-container div a {
    border-bottom: 1px solid black;
    padding-bottom: 5px;
    font-weight: bold;
}

.contact-main-container .contact-left, .contact-right {
    text-align: initial;
    margin-top: 85px;
}

.contact-main-container  img {
width: 100px;
padding-right: 5px;
}

/* .contact-main-container  img {
  width: 40px;
  height: auto;
  display: grid;
}

.contact-main-container p {
    color: white;
}
.contact-rigt {
    display: grid;
    grid-column: 1;
}

.contact-rigt a {
 display: grid;
 font-size: 20px;

}

.contact-left{
    display: grid;
    grid-column: 2;
}

.contact-left a {
    display: grid;
    font-size: 20px;
    
} */


